<div class="container" ng-controller="loginController" ng-cloak>
    <div class="row" style="min-width: 300px;" >
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
            <h5 class="card-title text-center">The Sistema</h5>
            <div class="alert alert-dismissible alert-danger" ng-show="alertLogin" >
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                E-mail ou senha inválidos!
            </div>
            <hr class="my-4">   
            <form class="form-signin"  id="myLogin" name="myLogin">
                <div class="form-label-group">
                <input type="text" 
                        id="username" 
                        ng-model="username" 
                        ng-keypress="keyPressed(username)"
                        name="input" 
                        class="form-control" placeholder="Email" required autofocus>
                <label for="username">Email</label>
                </div>
                <div class="form-label-group">
                <input type="password" id="password" ng-model="password" class="form-control" placeholder="Senha" ng-init="" required>
                <label for="password">Senha</label>
                </div>
                
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" ng-click="submit()">Entrar</button>
                            
            </form>
            </div>
        </div>
        </div>
    </div>
</div>